@model LoginRequest

@{
    ViewData["Title"] = "SignIn";
}

<div>
    <div>
        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
        {

            <div class="form-group">
                @Html.LabelFor(n => n.Email)
                @Html.TextBoxFor(n => n.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(n => n.Password)
                @Html.PasswordFor(n => n.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.Password, "", new { @class = "text-danger" })
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <button type="submit" class="btn btn-success">Login</button>
        }
    </div>
</div>
